/* MOBILE-FIRST */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root{
    --Lightslateblue: hsl(252, 100%, 67%);/*  (background) */
    --Lightroyalblue: hsl(241, 81%, 54%); 
    --Violetblue: hsla(256, 72%, 46%, 1); /*    (circle)   */
    --Persianblue: hsla(241, 72%, 46%, 0);
}

*{
    padding: 0px;
    margin: 0px;
    cursor: default;
    box-sizing: border-box;
}

body{
    height: 95vh;
    width: 100vw;
    font: 700 normal 18px 'Hanken Grotesk', sans-serif;
    background-color: white;
}

#resultado{
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    color: white;
    text-align: center;
    background-image: linear-gradient(to Bottom, var(--Lightslateblue), var(--Lightroyalblue));
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 0px 0px 10% 10%;
}

#resultado > p{opacity: .7;}

.circle{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to bottom, var(--Violetblue), var(--Persianblue));
    padding: 15px;
    margin: 20px;
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

.circle > p{opacity: .5;}

#overall{
    font-size: 3.7em;
    font-weight: 800;

    transition: all .2s ease-in-out;
}

#overall:hover{
    cursor: pointer;
    transform: translateY(-3px);
}

#avaliation{
    font-size: 1.7em;
    margin-bottom: 10px;
}

#dados{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    margin: 20px 20px 0px 20px;
}

#dados h1{
    font-size: 20px;
    margin-bottom: 8px;
    width: 100%;
}

#dados p {color: black;}

#dados img{
    position: relative;
    top: 3px;
}

.caixasContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid transparent; /* borda transparente que evita movimento no hover, pois border n é criada somente no hover*/


}

.maxStats{opacity: .6;}

#reaction{
    color: hsla(0, 100%, 67%);
    background-color: rgba(255, 87, 87, 0.106);
}

#reaction:hover{
    border-color: hsl(0, 100%, 67%);
    box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.432);
}

#memory{
    color: hsla(39, 100%, 56%);;
    background-color: rgba(255, 177, 31, 0.106);
}

#memory:hover{
    border-color:hsl(39, 100%, 56%);
    box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.432);
}

#verbal{
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.106);
}

#verbal:hover{
    border-color:hsl(166, 100%, 37%);
    box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.432);
}

#visual{
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.106);
}

#visual:hover{
    border-color:hsl(234, 85%, 45%);
    box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.432);
}

#continueBtn{
    font-size: 1em;
    color: white;
    background-color: hsl(224, 30%, 27%);
    border: none;

    width: 100%;
    padding: 15px;
    margin: 15px 0px 0px 0px;
    border-radius: 30px;
    transition: transform .2s ease-in-out;
}

#continueBtn:hover{
    cursor: pointer;
    transform: translateY(-4px);
}