main {
  width: 100%;
  padding-inline: 1rem;
  flex: 1;
}

.form-container {
  background-color: #ffffff;
  position: relative;
  max-width: 1024px;
  width: 100%;
  min-height: 10rem;
  border-radius: 12px;
  margin-top: -4.7rem;
  margin-inline: auto;
  z-index: 10;
  padding: 1.5rem;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
}

.app-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form {
  width: 100%;
}

.btn-next {
  display: none;
  margin-right: 0;
}

.btn-back {
  display: none;
  margin-left: 0;
}

.nav-buttons {
  margin-top: auto;
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
}

@media (min-width: 768px) {
  main {
    flex: 0;
  }

  .form-container {
    display: flex;
    padding: 1.5rem;
    margin-top: 0;
  }

  article {
    margin-inline: 3rem;
  }

  .btn-next,
  .btn-back {
    display: block;
  }
}

@media (min-width: 1024px) {
  article {
    margin-inline: 7rem;
  }
}
