<div class="app-container">
  <app-side-bar-mobile [step]="currentStep"></app-side-bar-mobile>
  <main>
    <section class="form-container">
      <app-side-bar-desktop [step]="currentStep"></app-side-bar-desktop>
      <article *ngIf="currentStep === 1">
        <app-your-info></app-your-info>
        <button class="btn-next" (click)="formSubmit()">Next Step</button>
      </article>
    </section>
  </main>
  <app-mobile-footer-nav [step]="currentStep" (formSubmitRequest)="formSubmit()"></app-mobile-footer-nav>
</div>
