<div class="app-container">
  <app-side-bar-mobile [step]="currentStep"></app-side-bar-mobile>
  <main>
    <section class="form-container">
      <app-side-bar-desktop [step]="currentStep"></app-side-bar-desktop>
      <article [ngClass]="{ 'justify-center': currentStep === 5 }">
        <app-your-info class="form" *ngIf="currentStep === 1"></app-your-info>
        <app-select-plan
          class="form"
          *ngIf="currentStep === 2"
        ></app-select-plan>
        <app-add-ons class="form" *ngIf="currentStep === 3"></app-add-ons>
        <app-summary
          (changePlanRequest)="currentStep = 2"
          class="form"
          *ngIf="currentStep === 4"
        ></app-summary>
        <app-completed class="form" *ngIf="currentStep === 5"></app-completed>
        <nav class="nav-buttons" *ngIf="currentStep !== 5">
          <button
            *ngIf="currentStep !== 1"
            (click)="returnStep()"
            class="btn-back"
          >
            Go Back
          </button>
          <button
            [ngClass]="{ 'btn-confirm': currentStep === 4 }"
            class="btn-next"
            (click)="nextStep()"
          >
            {{ currentStep !== 4 ? "Next Step" : "Confirm" }}
          </button>
        </nav>
      </article>
    </section>
  </main>
  <app-mobile-footer-nav
    [step]="currentStep"
    (formSubmitRequest)="nextStep()"
    (returnStepRequest)="returnStep()"
    *ngIf="currentStep !== 5"
  ></app-mobile-footer-nav>
</div>
