.main-bg {
  background: url(../public/images/bg-main-mobile.png) no-repeat center center;
  background-size: cover;
  height: 240px;
  width: 100vw;
}

.card-front {
  background: url(../public/images/bg-card-front.png) no-repeat center center;
  background-size: cover;
}

.card-back {
  background: url(../public/images/bg-card-back.png) no-repeat center center;
  background-size: cover;
  aspect-ratio: 16/9;
}

@media (min-width: 640px) {
  .main-bg{
    background: url(../public/images/bg-main-desktop.png) left no-repeat;
    height: 100vh;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.styled-border:hover,
.styled-border:focus{
  outline: none;
  background: linear-gradient(#fff, #fff) padding-box,
              linear-gradient(45deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
  border-color: transparent;
  border-radius: 8px;
}
