/* Mobile-First WorkFlow*/

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root{
  --StrongCyan:           hsl(172, 67%, 45%);
  --VeryDarkCyan:         hsl(183, 100%, 15%);
  --DarkGrayishCyan:      hsl(186, 14%, 43%);
  --GrayishCyan:          hsl(184, 14%, 56%);
  --LightGrayishCyan:     hsl(185, 41%, 84%);
  --VeryLightGrayishCyan: hsl(189, 41%, 97%);
  --colorError:           hsl(0, 97%, 58%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

*{
  margin: 0px;
  padding: 0px;
  font-size: 24px;
  font-family: 'Space Mono', monospace;
}

body{
  min-height: 100svh;
  background-color: var(--LightGrayishCyan);
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

p, label{
  font-size: 16px;
  color: var(--DarkGrayishCyan);
}

.logo{
  width: min-content;
  margin: 40px 0px;
}

.container-geral{
  display: flex;
  flex-direction: column;
  width: 325px; /* 375-40px dos padding's laterais*/
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px 20px 0px 0px;
  padding: 25px 25px;
}

.bill-container{
  display: flex;
  flex-direction: column;
}

#inputBill{
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  outline: transparent;
  background: url(../images/icon-dollar.svg) no-repeat scroll 18px center var(--VeryLightGrayishCyan);
  padding: 5px 15px 5px 35px;
  text-align: right;
  color: var(--VeryDarkCyan);
}

.select-tip{
  margin-top: 25px;
}

.select-tip > p{
  margin-bottom: 15px;
}

.grid-tip-percentage{
  display: grid;
  grid-template-columns: 155px 155px; /* 325px width-max, -15px de column gap e dividido por 2, 155px para cada item*/
  column-gap: 15px;
  row-gap: 15px;
}

.tip-button{
  border: none;
  border-radius: 6px;
  padding: 4px 0px;
  outline: transparent;
  color: hsl(0, 0%, 100%);
  background-color: var(--VeryDarkCyan);
  cursor: pointer;
  transition: background-color .15s linear, color .15s linear;
}

#customTip{
  border: none;
  border-radius: 5px;
  outline: transparent;
  background-color: var(--VeryLightGrayishCyan);
  padding: 5px 15px;
  text-align: center;
  color: var(--VeryDarkCyan);
}

#inputBill:hover,
#inputBill:focus,
#customTip:hover,
#customTip:focus,
.inputPeople:hover,
.inputPeople:focus{
  outline: 2px solid var(--StrongCyan);
}

.tip-button:hover{
  background-color: var(--LightGrayishCyan);
  color: var(--VeryDarkCyan);
}

.selected-tip{
  background-color: var(--StrongCyan);
  color: var(--VeryDarkCyan);
}

.number-of-people{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.label-number-of-people{
  display: flex;
  justify-content: space-between;
}

.inputPeople{
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  outline: transparent;
  background: url(../images/icon-person.svg) no-repeat scroll 18px center var(--VeryLightGrayishCyan);
  padding: 5px 15px 5px 35px;
  text-align: right;
  color: var(--VeryDarkCyan);
}

.error-input{
  outline: 2px solid var(--colorError);
}

.error-people{
  color: var(--colorError);
  opacity: 0;
  transition: opacity .15s linear;
}

.result-section{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding: 25px;
  background-color: var(--VeryDarkCyan);
  border-radius: 15px;
}

#resetBtn{
  cursor: default; /* mudar para pointer quando ativado em JS*/
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 6px 0px;
  color: var(--VeryDarkCyan);
  outline: transparent;
  background-color: var(--StrongCyan);
  opacity: .3; /* inicialmente desativado, JS altera para 1 após dados inseridos*/
  transition: background-color .15s linear,
    opacity .15s linear;
}

.tip-amount,
.total-amount{
  display: flex;
  justify-content: space-between;
}

.tip-amount{
  margin-top: 10px;
}

.total-amount{
  margin: 20px 0px;
}

.amount{
  color: hsl(0, 0%, 100%);
}

.person{
  font-size: 14px;
}

.value{
  font-size: 28px;
  color: var(--StrongCyan);
  vertical-align: text-bottom;
}