<div class="step-container">
  <h1>Personal Info</h1>
  <p>Please provide your name, email address, and phone number.</p>
  <form [formGroup]="infoForm">
    <div class="form-group">
      <div class="input-info">
        <label for="name">Name</label>
        <div *ngIf="submitted && name?.invalid">
          <span class="error-msg">This field is Required</span>
        </div>
      </div>
      <input
        type="text"
        autocomplete="off"
        id="name"
        placeholder="e.g. Stephen King"
        formControlName="name"
        [ngClass]="{'input-error': submitted && name?.invalid }"
      />
    </div>
    <div class="form-group">
      <div class="input-info">
        <label for="email">Email Address</label>
        <div *ngIf="submitted && email?.invalid">
          <span *ngIf="email?.errors?.['required']" class="error-msg"
            >This field is Required</span
          >
          <span *ngIf="email?.errors?.['email']" class="error-msg"
            >Invalid email</span
          >
        </div>
      </div>
      <input
        type="email"
        id="email"
        placeholder="e.g. stephenking@lorem.com"
        formControlName="email"
        [ngClass]="{ 'input-error': submitted && email?.invalid }"
      />
    </div>
    <div class="form-group">
      <div class="input-info">
        <label for="phone">Phone Number</label>
        <div *ngIf="submitted && phone?.invalid">
          <!-- I don't need to check the errors like on the email input since the only validation is required, so it's only invalid if no phone number was provided-->
          <span class="error-msg">This field is Required</span>
        </div>
      </div>
      <input
        type="text"
        autocomplete="off"
        id="phone"
        placeholder="e.g. +1 234 567 890"
        formControlName="phone"
        [ngClass]="{'input-error': submitted && phone?.invalid }"
      />
    </div>
  </form>
</div>
