@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
  --SoftOrange: hsl(35, 77%, 62%);
  --SoftRed: hsl(5, 85%, 63%);
  --OffWhite: hsl(36, 100%, 99%);
  --GrayishBlue: hsl(233, 8%, 79%);
  --DarkGrayishBlue: hsl(236, 13%, 42%);
  --VeryDarkBlue: hsl(240, 100%, 5%);
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

body::-webkit-scrollbar {
  display: none;
}

body{
  background: var(--OffWhite);
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.75rem 1rem;
}

.logo{
  height: 30px;
}

.overlay-menu{
  display: none; /* shown when #menu is clicked*/
  opacity: 0;
  transition: opacity .35s linear; 
}

#close-menu{
  cursor: pointer;
  align-self: flex-end;
}

@media (max-width:599px) { /*only use this style when the media screen is <= 599px, otherwise the normal menu layout appears*/
  
  body{
    padding-bottom: 3rem;
  }
  
  .overlay-menu{
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.75);
  }

  header nav{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 67svw;
    position: fixed;
    top: 0;
    right: -67svw; /* animation */
    bottom: 0;
    background-color: hsl(36, 100%, 99%);
    padding: 1.75rem;
    transition: right .35s linear;
  }

  .menu-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--VeryDarkBlue);
  }

  .menu-list li{
    font-size: 1.1rem;
  }

  h1{
    font-size: 2.8rem;
    line-height: 2.9rem;
  }

  .new-container{
    margin: 2.5rem 0rem;
  }

  .flex-topic{
    margin-bottom: 1rem;
  }
}

nav > ul{
  cursor: pointer;
  display: flex;
  column-gap: 3rem;
  list-style: none;
}

#menu{
  cursor: pointer;
}

.grid-container{
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr 0fr 0fr 1.8fr 0fr 0fr 0fr; */
  gap: 1.2rem 0em;
}

.main-image{
  width: 100%;
}

h1{
  color: var(--VeryDarkBlue);
  font-weight: 800;
}

.desc-p,
.flex-topic p{
  color: var(--DarkGrayishBlue);
  line-height: 1.65rem;
}

.read-more-btn{
  cursor: pointer;
  margin-top: 1.2rem;
  border: none;
  color: var(--OffWhite);
  background: var(--SoftRed);
  font-weight: 700;
  letter-spacing: .25rem;
  padding: 1rem 2rem;
}

.new-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--VeryDarkBlue);
  padding: 1.5rem;
}

h2{
  color: var(--SoftOrange);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
}

h3{
  color: var(--OffWhite);
  font-size: 1.3rem;
}

.desc-p-new{
  color: var(--GrayishBlue);
  line-height: 1.75rem;
  margin-top: .5rem;
}

hr{
  border: none;
  background: var(--DarkGrayishBlue);
  height: 1px;
  margin: 2rem 0em;
}

.flex-topic{
  display: flex;
  gap: 0rem 1.7rem;
}

.flex-topic img{
  width: 100px;
}

.flex-topic section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-topic h2{
  color: var(--GrayishBlue);
  margin: 0;
}

.flex-topic h3{
  color: var(--VeryDarkBlue);
  font-size: 1.28rem;
}