@charset "UTF-8";

/* desktop*/
@media (min-width: 600px) {
  #menu,
  #close-menu{
    display: none;
  }

  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header, .grid-container{
    width: 79svw;
  }

  header{
    margin-bottom: 2.5rem;
  }

  .logo{
    height: inherit;
  }

  .grid-container{
    margin: 0rem auto;
    grid-auto-columns: 1fr;
    gap: 2rem 3rem;
  }

  .main-image{grid-area: one;}
  h1{grid-area: two;}
  .flex-between{grid-area: three;}
  article:nth-child(4){grid-area: four;}
  article:nth-child(5){
    grid-area: five;
  }
  article:nth-child(6){
    grid-area: six;
  }
  article:nth-child(7){
    grid-area: seven;
  }

  .main-image{
    content: url(../assets/images/image-web-3-desktop.jpg);
    object-fit: cover;
  }

  h1{
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .new-container h2{
    font-size: 3rem;
    margin: none;
  }

  .flex-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

/* tablet */
@media (min-width: 600px) {
  header, .grid-container{
    width: 85svw;
  }

  .logo{
    height: 30px;
  }

  .grid-container{
    grid-template-areas: 
    'one one'
    'two three'
    'four four'
    'four four'
    'five five'
    'six six'
    'seven seven';
  }
}

@media (min-width: 1000px) {
  header, .grid-container{
    width: 85svw;
  }

  .logo{
    height: 30px;
  }

  .grid-container{
    grid-template-areas: 
    'one one'
    'two three'
    'four five'
    'four six'
    'four seven';
  }
  
  .flex-topic{
    margin-top: 0;
  }

  .flex-topic img{
    height: 150px;
  }
}

@media (min-width: 1400px){
  body{
    height: 100svh;
  }
  
  .grid-container{
    grid-template-areas: 
    'one one four'
    'two three four'
    'five six seven';
  }

  .flex-topic{
    margin-top: 2rem;
  }

  .flex-topic img{
    height: 125px;
  }
}