<div class="step-container">
  <h1>Select your plan</h1>
  <p>You have the option of monthly or yearly billing</p>
  <div class="options-group">
    <button
      class="option"
      [ngClass]="{ 'selected-option': plan.type === 'Arcade' }"
      (click)="updatePlan('Arcade')"
    >
      <img src="../../../assets/images/icon-arcade.svg" alt="Arcade option" />
      <div class="description">
        <div class="plan-info">
          <p class="name">Arcade</p>
          <p class="price">
            {{ plan.duration === "Monthly" ? "$9/mo" : "$90/yr" }}
          </p>
        </div>
        <p class="free-months" *ngIf="plan.duration === 'Yearly'">
          2 months free
        </p>
      </div>
    </button>
    <button
      class="option"
      [ngClass]="{ 'selected-option': plan.type === 'Advanced' }"
      (click)="updatePlan('Advanced')"
    >
      <img
        src="../../../assets/images/icon-advanced.svg"
        alt="Advanced option"
      />
      <div class="description">
        <div class="plan-info">
          <p class="name">Advanced</p>
          <p class="price">
            {{ plan.duration === "Monthly" ? "$12/mo" : "$120/yr" }}
          </p>
        </div>

        <p class="free-months" *ngIf="plan.duration === 'Yearly'">
          2 months free
        </p>
      </div>
    </button>
    <button
      class="option"
      [ngClass]="{ 'selected-option': plan.type === 'Pro' }"
      (click)="updatePlan('Pro')"
    >
      <img src="../../../assets/images/icon-pro.svg" alt="Pro option" />
      <div class="description">
        <div class="plan-info">
          <p class="name">Pro</p>
          <p class="price">
            {{ plan.duration === "Monthly" ? "$15/mo" : "$150/yr" }}
          </p>
        </div>
        <p class="free-months" *ngIf="plan.duration === 'Yearly'">
          2 months free
        </p>
      </div>
    </button>
  </div>
  <div class="plan-duration-container">
    <span
      class="month"
      [ngClass]="{ 'selected-duration': plan.duration === 'Monthly' }"
      >Monthly</span
    >
    <!-- <button class="toggle-button" (click)="toggleDuration()"></button> -->
    <label class="switch">
      <input
        type="checkbox"
        name="duration"
        (click)="toggleDuration()"
        [checked]="plan.duration === 'Yearly'"
      />
      <span class="slider round"></span>
    </label>
    <span
      class="year"
      [ngClass]="{ 'selected-duration': plan.duration === 'Yearly' }"
      >Yearly</span
    >
  </div>
</div>
