@media screen and (min-width: 1440px) {

  body{
    background-image: url(../images/bg-desktop.svg);
    background-position: left center;
  }

  main{
    height: 100svh;
    display: flex;
    align-items: center;
    padding: 0px 50px;
  }

  .logo-mockup-container{
    width: 700px;
    row-gap: 38px;
    margin: 0px 24px;
  }

  .logo{
    height: 50px;
    margin-top: 0px;
  }

  .mockup{
    margin-top: 0px;
  }

  .principalContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .textContainer{
    display: flex;
    align-items: flex-start;
    text-align: start;
  }

  h1{
    margin-top: 0;
    font-size: 2.8em;
    max-width: 500px;
  }

  p{
    max-width: 600px;
    font-size: 1.2em;
  }

  .socialIcons{
    position: absolute;
    align-self: flex-end;
    right: 0px;
    margin: 0px 75px 40px 0px;
  }

  .icon-container{
    height: 32px;
    width: 32px;
  }

  .buttonContainer{
    justify-content: flex-start;
  }

  .registerBtn{ 
    font-size: 1.2em;
    padding: 18px 75px;
    border-radius: 45px;
  }
}