@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*, *::before, *::after{
  box-sizing: border-box; /* Set the sizing of an element to include it's border */
}

*{
  margin: 0; /* Set the default margin to 0 */
  padding: 0; /* Set the default padding to 0 */
}

ul[role='list'], ol[role='list']{
  list-style: none; /* Turn off numbered and unordered list decoration */
}

html:focus-within{
  scroll-behavior: smooth; /* Make the scrolling inside of any scrollable element smooth */
}

a:not([class]){
  text-decoration-skip-ink: auto; /* Makes link undelines look better */
}

img, picture, svg, video, canvas{
  max-width: 100%; /* Makes it responsive */
  height: auto; /* Makes it responsive */
  vertical-align: middle; /* Makes text next to inline images look better */
  font-style: italic; /* If the images don't load it makes the alt decription look better */
  background-repeat: no-repeat; 
  /* The background repeat and size are there if you want to load a picture first like a backroung image that is worse quality while the better quality image loads */
  background-size: cover;
}

input, button, textarea, select{
  font: inherit; /* Makes these elements inherit fonts */
}

/* Turns off animation for people who don't want to see them */
@media (prefers-reduced-motion: reduce){
  html:focus-within {
      scroll-behavior: auto;
  }
  *, *::before, *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition: none;
  }
}

body, html{
  min-height: 100svh; /* Makes the body element full screen */
  scroll-behavior: smooth; /* Makes normal scrolling smooth */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  font-size: 0.75rem;
  font-family: 'Inter', sans-serif;
  padding: 2rem 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: hsl(0, 0%, 12%);
  border-radius: .65rem;
  width: 100%;
  height: fit-content;
  max-width: 300px;
}

.avatar {
  width: 80px;
  margin-bottom: 1.25rem;
  aspect-ratio: 1;
  border-radius: 999999px;
}

h1 {
  font-size: 1.35rem;
}

.location {
  margin: .5rem 0 1.25rem 0;
  font-weight: bold;
  font-size: .8rem;
  color: hsl(75, 94%, 57%);
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: .7rem;
  width: 100%;
  margin-top: 1.5rem;
}

a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-weight: bold;
  font-size: .8rem;
  background-color: hsl(0, 0%, 20%);
  width: 100%;
  text-align: center;
  border-radius: 6px;
  padding: .65rem 0;

  transition: background-color .4s ease-in-out, 
              color .4s ease-in-out;
}

a:hover, a:active, a:focus {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}