<header>
  <img src="../../assets/images/bg-sidebar-mobile.svg" />
  <section class="steps-nav-container">
    <div title="Your Info" [ngClass]="{ 'active-step': step === 1 }" class="step">
      <p class="step-link">1</p>
    </div>
    <div title="Select Plan" [ngClass]="{ 'active-step': step === 2 }" class="step">
      <p class="step-link">2</p>
    </div>
    <div title="Add-ons" [ngClass]="{ 'active-step': step === 3 }" class="step">
      <p class="step-link">3</p>
    </div>
    <div title="Summary" [ngClass]="{ 'active-step': step >= 4 }" class="step">
      <p class="step-link">4</p>
    </div>
  </section>
</header>
