@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

input[type="radio"] {
  &:not(:checked),
  &:checked {
    height: .9rem;
    width: .9rem;
    margin-inline: .3rem;
    opacity: 0;
    color: hsl(267, 48%, 41%);
  }
}