/* Mobile-first Workflow*/

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
  --Orange: hsl(26, 100%, 55%);
  --Paleorange: hsl(25, 100%, 94%);
  --DarkGrayishBlue: hsl(219, 9%, 45%);
}

*{
  padding: 0px;
  margin: 0px;
  font: normal 400 16px 'Kumbh Sans', sans-serif;
  box-sizing: border-box;
}

*::before, *::after{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

body::-webkit-scrollbar {display: none;}

/* manter ambos em 375px limita as telas menores que 1440px a verem a versão mobile, isso gerou uma dúvida pois não sei se devo apenas limitar ou deixar que os elementos aumentem de acordo com o tamanho da tela mantendo as proporções.... */
header,main{
  max-width: 375px;
}

header{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 0px;
}

.menu-overlay,
.gallery-overlay{
  display: none;
  opacity: 0;
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: hsla(0, 0%, 0%, 0.75);
  transition: opacity .35s;
}

.modal{
  position: absolute;
  top: 0px;
  bottom: 0px;
  padding: 20px;
  background-color: #FFFFFF;
}

ul{
  list-style-type: none;
}

.modal ul{
  margin: 30px 130px 0px 0px;
}

.modal li{
  font-weight: 700;
  color: hsl(220, 13%, 13%);
  margin-bottom: 20px;
  cursor: pointer;
}

.desk-menu{
  display: none;
}

.menu-icon,
.sneakers-logo{
  margin-left: 15px;
}

.cart-icon{
  position: relative;
  top: 3px;
  transition: filter .15s ease-in-out;
}

.cart-icon-container{
  position: relative;
  margin: auto;
  margin-right: 15px;
  cursor: pointer;
}

.cart-icon-container:hover .cart-icon{
  filter: brightness(0) saturate(100%) invert(3%) sepia(82%) saturate(1676%) hue-rotate(228deg) brightness(68%) contrast(108%);
}

.cart-qnt-icon{
  position: absolute;
  top: -3px;
  right: -5px;
  font-size: 10px;
  padding: 0px 6px;
  border-radius: 10px;
  background-color: var(--Orange);
  color: #FFFFFF;
  z-index: 1;
}

.cart-popup{
  display: none;
  opacity: 0;
  flex-direction: column;
  border-radius: 12px;
  height: 250px;
  max-width: 360px;
  width: calc(100% - 16px);
  margin: 10px 0px 0px 8px;
  position: absolute;
  z-index: 50;
  background-color: #FFFFFF;
  transition: opacity .35s;
}

.cart-popup > span{
  font-weight: 700;
  margin: 20px 0px 20px 20px;
}

.line{
  background-color: hsl(0, 0%, 87%);
  width: 100%;
  height: 1px;
}

.product-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; 
  JS deixa default como center, com items no cart vira space-between */
  padding: 30px 0px;
  align-items: center;
  font-weight: 700;
  color: hsl(219, 9%, 45%);
}

.product{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: calc(100% - 40px);
}

.checkout-image{
  height: 100%;
  border-radius: 4px;
}

.checkout-text{
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.checkout-text span{
  font-weight: 700;
  color: hsla(0, 0%, 0%);
}

.avatar{
  border: 1px solid transparent;
  border-radius: 50%;
  margin-right: 15px;
  height: 24px;
  transition: border-color .2s ease-in-out;
}

.avatar:hover{
  border-color: var(--Orange);
}

.sep-header-main{
  display: none;
  border: none;
}

.image-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-ul{
  height: 300px;
}

.slide{
  position: absolute;
  height: 300px;
  inset: 0;
  opacity: 0;
  transition: .15s opacity ease-in-out;
  transition-delay: .15s;
}

.slide[data-active]{
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top; /* center no DESKTOP */
}

.arrows{
  display: flex;
  justify-content: space-between;
  width: 94%;
  position: absolute;
}

.prev-button,
.next-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
  z-index: 2;
  border: none;
  border-radius: 50%;
  outline: transparent;
}

.next-button:hover .right-arrow,
.prev-button:hover .left-arrow,
.next-button:focus .right-arrow,
.prev-button:focus .left-arrow{
  filter: brightness(0) saturate(100%) invert(58%) sepia(97%) saturate(2169%) hue-rotate(345deg) brightness(99%) contrast(105%);
}

.thumbs-container{
  display: none;
}

.text-container{margin: 0px 15px;}

.colored-text{
  color: hsl(26, 100%, 55%);
  letter-spacing: .8px;
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
}

h1{
  font-size: 1.8em;
  font-weight: 700;
  margin: 10px 0px;
  line-height: 1.1em;
}

.product-desc{
  color: hsl(219, 9%, 45%);
  line-height: 1.5em;
}

.price-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 15px;
}

.actual-price{
  font-size: 1.7em;
  font-weight: 700;
}

.discount{
  margin-left: 15px;
  color: var(--Orange);
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: var(--Paleorange);
}

.old-price{
  margin: 0px 0px 0px auto;
  text-decoration: line-through;
  color: var(--DarkGrayishBlue);
  font-weight: 700;
}

.quantity-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 15px;
  padding: 15px 20px;
  border-radius: 8px;
  background-color: hsl(223, 64%, 98%);
}

.quantity{font-weight: 700;}

.avatar,
.icons-qnt,
.menu-icon,
.close-gallery,
.icon-close-menu,
.delete-button{cursor: pointer;}

.add-button,
.checkout-button{
  cursor: pointer;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px 0px 15px;
  width: calc(100% - 30px);
  padding: 15px;
  background-color: var(--Orange);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  transition: opacity .35s,
    box-shadow .35s;
  outline: transparent;
}

.add-button:hover,
.add-button:focus,
.checkout-button:hover,
.checkout-button:focus{
  opacity: .8;
  box-shadow: 0px 2px 8px 2px hsla(26, 100%, 55%, 0.35);
}

.icons-qnt:hover{opacity: .8;}

.checkout-button{
  margin: 0px 0px 0px 0px;
  width: calc(100% - 40px);
}

.icon-cart{
  width: 20px;
  margin-right: 15px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(78%) saturate(2%) hue-rotate(132deg) brightness(110%) contrast(101%);
}

.icon-close-menu:hover,
.close-gallery:hover{
  filter: invert(58%) sepia(97%) saturate(2169%) hue-rotate(345deg) brightness(99%) contrast(105%);
}