@media screen and (min-width:1440px) {

  body{
    padding-bottom: 0px;
  }

  header,main{
    max-width: 1100px;
  }

  header{
    padding: 15px 0px 30px 0px;
  }

  main{
    display: flex;
    position: relative;
    align-items: center;
    column-gap: 80px;
  }

  .sep-header-main{
    display: block;
    height: 1px;
    width: 1100px; /* deve ter o mesmo tamanho que o header*/
    margin-bottom: 55px;
    background-color: hsl(0, 0%, 87%);
  }
  
  .menu-icon,
  .arrows{
    display: none;
  }
  
  .sneakers-logo,
  .colored-text{
    margin: 0px;
  }

  .desk-menu{
    margin: 0px 30px;
    display: flex;
    column-gap: 27px;
  }

  .desk-menu li {
    cursor: pointer;
    color: hsl(219, 9%, 45%);
    text-decoration: 4px underline transparent;
    text-underline-offset: calc(13px + 30px); /* bot text margin + bot padding header */
    transition: text-decoration .2s,
      color .2s;
    transition-timing-function: ease-in-out;
  }
  
  .desk-menu li:hover{
    color: #000000;
    text-decoration-color: hsl(26, 100%, 55%);
  }

  .cart-icon-container{
    margin-right: 40px;
  }

  .cart-popup{
    margin: 0px;
    top: -75px; /* margin HR(55px) + padding header(30px) - 10px espaçamento*/
    right: -115px;
    box-shadow: 0px 10px 16px 4px rgba(0, 0, 0, 0.15);
  }

  .avatar{
    height: 46px;
    border-width: 2px;
    margin: 0px;
  }

  .image-container{
    flex-direction: column;
    border-radius: 12px;
  }

  .slide-ul{
    position: relative;
    width: 400px;
    height: 400px;
  }

  .image{
    height: 400px;
    border-radius: 12px;
    z-index: 50;
    object-position: center; /* center no DESKTOP */
  }

  .focus-image{
    cursor: pointer;
  }
  .thumbs-container,
  .thumbs-container-gallery{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
    z-index: 5;
  }

  .thumb{
    border: 2px solid transparent;
    border-radius: 8px;
  }

  .thumbnail-image{
    cursor: pointer;
    width: 75px;
    border-radius: 8px;
    border: 3px solid transparent;
    transition: border .2s,
      opacity .2s;
    transition-timing-function: ease-in-out;
  }

  .thumbnail-image:hover{
    opacity: .7;
  }

  .right-section{
    width: 470px;
  }

  h1{
    font-size: 2.8em;
    margin-bottom: 25px;
  }

  .price-container{
    width: 200px;
  }

  .old-price{
    margin: 8px auto 0px 0px;
  }

  .buy-area{
    display: flex;
    width: 98%;
    column-gap: 10px;
  }

  .add-button{
    margin: 0px;
    flex: 2.7;
  }

  .quantity-container{
    margin: 0px;
    flex: 1.35;
  }

  .selected-thumbnail{
    border-color: rgba(255, 125, 26, 1);
    opacity: .8;
  }

  #copy{
    display: flex;
    top: 200px; /* (img height/2) */
    width: 111%;
  }
  
  .gallery-overlay{
    justify-content: center;
    align-items: center;
  }

  .gallery-modal{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 10px;
  }
  
  .close-gallery{
    height: 20px;
    z-index: 200;
  }

  .slide{
    height: 450px;
  }

  .gallery-overlay .image{
    width: 450px;
    height: 450px;
  }

  .gallery-ul{
    height: 450px;
    width: 450px;
  }

  .thumbs-container-gallery{
    justify-content: space-evenly;
  }
}