<section class="side-bar-desktop">
  <img src="../../assets/images/bg-sidebar-desktop.svg" />
  <article class="steps-nav-container">
    <div class="step-group">
      <div [ngClass]="{ 'active-step': step === 1 }" class="step">
        <a class="step-link">1</a>
      </div>
      <div class="step-text-group">
        <p>STEP 1</p>
        <h2>YOUR INFO</h2>
      </div>
    </div>
    <div class="step-group">
      <div [ngClass]="{ 'active-step': step === 2 }" class="step"><a class="step-link">2</a></div>
      <div class="step-text-group">
        <p>STEP 2</p>
        <h2>SELECT PLAN</h2>
      </div>
    </div>
    <div class="step-group">
      <div [ngClass]="{ 'active-step': step === 3 }" class="step"><a class="step-link">3</a></div>
      <div class="step-text-group">
        <p>STEP 3</p>
        <h2>ADD-ONS</h2>
      </div>
    </div>
    <div class="step-group">
      <div [ngClass]="{ 'active-step': step >= 4 }" class="step"><a class="step-link">4</a></div>
      <div class="step-text-group">
        <p>STEP 4</p>
        <h2>SUMMARY</h2>
      </div>
    </div>
  </article>
</section>
