<section class="side-bar-desktop">
  <img src="../../assets/images/bg-sidebar-desktop.svg"/>
  <article class="steps-nav-container">
    <div class="step-group">
      <div class="step active-step"><a class="step-link">1</a></div>
      <div class="step-text-group">
        <h2>STEP 1</h2>
        <p>YOUR INFO</p>
      </div>
    </div>
    <div class="step-group">
      <div class="step"><a class="step-link">2</a></div>
      <div class="step-text-group">
        <h2>STEP 2</h2>
        <p>SELECT PLAN</p>
      </div>
    </div>
    <div class="step-group">
      <div class="step"><a class="step-link">3</a></div>
      <div class="step-text-group">
        <h2>STEP 3</h2>
        <p>ADD-ONS</p>
      </div>
    </div>
    <div class="step-group">
      <div class="step"><a class="step-link">4</a></div>
      <div class="step-text-group">
        <h2>STEP 4</h2>
        <p>SUMMARY</p>
      </div>
    </div>
  </article>
</section>