/* #descoberta: MQ's devem ser linkadas após todos os outros CSS, pois algumas propriedades dentro das MQ's podem ser sobrepostas por outras que estão abaixo dela. */

/* desktop devices*/
@media screen and (min-width: 1440px) {
  .general-container{
    width: 600px;
    padding: 30px 40px;
  }

  .middle-button{
    justify-content: flex-end;
  }

  .input-container{
    width: auto;
    display: flex;
    justify-content: start;
  }

  input{
    width: 122px;
    font-size: 26px;
    margin-right: 25px;
  }

  .errorAlert{
    width: inherit;
  }

  .middle-button{
    margin: 0px 0px 0px 0px;
  }

  .results-container{
    font-size: 81px;
  }

  #advance{
    height: 70px;
    width: 70px;
  }

  .icon-arrow{
    height: 32px;
  }
}

