/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import 'normalize.css';
@import 'variables.css';

body {
  min-height: 100svh;
  background-color: var(--magnolia);
  font-family: 'Ubuntu', 'sans-serif';
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}

.app-container {
  min-height: 100svh;
}

@media (min-width: 768px) {
  .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

.steps-nav-container {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: .7rem;
}

.step {
  aspect-ratio: 1;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: 1px solid var(--light-gray);
}

.step-link {
  font-weight: 700;
  color: #fff;
  font-size: 1.1rem;
}

.active-step {
  background-color: var(--light-blue);
  border-color: var(--light-blue);
}

.active-step > .step-link {
  color: var(--marine-blue) !important;
}

.btn-next {
  margin-right: 1rem;
  padding: 0.85em 1.15em;
  border-radius: 6px;
  background-color: var(--marine-blue);
  color: #ffffff;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}
