<div class="step-container">
  <h1>Pick add-ons</h1>
  <p>Add-ons help enhance your gaming experience.</p>
  <div class="add-ons-container">
    <div
      [ngClass]="{ 'selected-add-on': selectedAddons.onlineService.active }"
      class="add-on"
      tabindex="0"
      (keypress)="toggleAddonOnSpace($event, 'onlineService')"
      (click)="toggleAddon('onlineService')"
    >
      <label for="online-service" class="container">
        <input
          type="checkbox"
          name="online-service"
          id="online-service"
          tabindex="-1"
          [checked]="selectedAddons.onlineService.active"
          (change)="toggleAddon('onlineService')"
        />
        <span class="checkmark"></span>
      </label>
      <div class="description">
        <p class="add-on-name">Online service</p>
        <p class="add-on-desc">Access to multiplayer games</p>
      </div>
      <span class="price">
        +${{ selectedAddons.onlineService.price
        }}{{ planDuration === "Monthly" ? "/mo" : "/yr" }}
      </span>
    </div>
    <div
      class="add-on"
      [ngClass]="{ 'selected-add-on': selectedAddons.largerStorage.active }"
      tabindex="0"
      (keypress)="toggleAddonOnSpace($event, 'largerStorage')"
      (click)="toggleAddon('largerStorage')"
    >
      <label for="larger-storage" class="container">
        <input
          type="checkbox"
          name="larger-storage"
          id="larger-storage"
          tabindex="-1"
          [checked]="selectedAddons.largerStorage.active"
          (change)="toggleAddon('largerStorage')"
        />
        <span class="checkmark"></span>
      </label>
      <div class="description">
        <p class="add-on-name">Larger Storage</p>
        <p class="add-on-desc">Extra 1TB of cloud save</p>
      </div>
      <span class="price">
        +${{ selectedAddons.largerStorage.price
        }}{{ planDuration === "Monthly" ? "/mo" : "/yr" }}
      </span>
    </div>
    <div
      class="add-on"
      [ngClass]="{
        'selected-add-on': selectedAddons.customizableProfile.active
      }"
      tabindex="0"
      (keypress)="toggleAddonOnSpace($event, 'customizableProfile')"
      (click)="toggleAddon('customizableProfile')"
    >
      <label for="customizable-profile" class="container">
        <input
          type="checkbox"
          name="customizable-profile"
          id="customizable-profile"
          tabindex="-1"
          [checked]="selectedAddons.customizableProfile.active"
          (change)="toggleAddon('customizableProfile')"
        />
        <span class="checkmark"></span>
      </label>
      <div class="description">
        <p class="add-on-name">Customizable profile</p>
        <p class="add-on-desc">Custom theme on your profile</p>
      </div>
      <span class="price">
        +${{ selectedAddons.customizableProfile.price
        }}{{ planDuration === "Monthly" ? "/mo" : "/yr" }}
      </span>
    </div>
  </div>
</div>
